<div class="jumbotron">
  <h2 class="display-4 text-center">لیست حضور امروز</h2>
  <hr>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="table100">
          <table>
            <thead>
            <tr class="table100-head">
              <th class="column1">نام</th>
              <th class="column2">زمان ورود</th>
              <th class="column3">زمان خروج</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let present of presents" >
              <td class="column1">{{present.user__name}}</td>
              <td class="column2">{{present.enterTime}}</td>
              <td class="column3">{{present.outTime}}</td>
            </tr>
            </tbody>
          </table>
          <span class="presence_num">تعداد حضورهای امروز: {{presents_num}} نفر</span>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper tbl_pagination">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="pagination">
            <ul class="pagination bootpag">
              <li class="prev" *ngIf="!(current_page - 1 == 0)">
                <span (click)="loadPresentsPage(current_page - 1)">«</span>
              </li>
              <li class="" *ngFor="let dummy of ' '.repeat((presents_num / each_page_records) + 1).split(''); let num = index" [class]="current_page == (num + 1) ? 'active' : ''">
                <span (click)="loadPresentsPage(num + 1)">{{num + 1}}</span>
              </li>
              <li class="next" *ngIf="!(current_page == (Math.ceil(presents_num / each_page_records)))">
                <span  (click)="loadPresentsPage(current_page + 1)">»</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>

