.jumbotron {
  background-color: transparent;
}
table {
  background: white;
}
table thead tr {
  height: 40px;
  background: #2c53af;
}
table tbody tr {
  height: 50px;
}
.column1 {width: 5%;}
.column2 {width: 15%;}
.column3 {width: 10%;}
.column4 {width: 10%;}
.column5 {width: 10%;}
.column6 {width: 35%;}
.column7 {width: 15%;}
.column7.actions span {
  margin-left: 24px;
  padding: 3px;
  cursor: pointer;
  opacity: 1;
  font-size: 17px;
  color: #999;
}
.column7.actions .fa-edit:hover {
  color: #1366bf;
}
.column7.actions .fa-trash:hover {
  color: #e42219;
}
.users_num {
  position: absolute;
  font-size: 13px;
  margin-top: 22px;
  color: #737373;
}
.add-user-btn {
  margin-top: 15px;
  border: none;
  border-radius: 1.5rem;
  width: 132px;
  padding: 4px;
  font-weight: 600;
  cursor: pointer;
  top: 4rem;
  left: 2rem;
  position: absolute;
}
.edit-user-btn {
  border: none;
  border-radius: .3rem;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 5px;
}
