<div class="jumbotron">
  <h2 class="display-4 text-center">لیست افراد</h2>
  <button type="button" class="add-user-btn btn-success" data-toggle="modal" data-target="#addUserModal">
    افزودن فرد جدید
  </button>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table100">
        <table>
          <thead>
          <tr class="table100-head">
            <th class="column1">کد</th>
            <th class="column2">نام</th>
            <th class="column3">شماره تماس</th>
            <th class="column4">شماره کمد</th>
            <th class="column5">تاریخ عضویت</th>
            <th class="column6">جزئیات</th>
            <th class="column7">مجوزها</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users" >
            <td class="column1">{{user.id}}</td>
            <td class="column2">{{user.name}}</td>
            <td class="column3">{{user.phoneNo}}</td>
            <td class="column4">{{user.shelfNo}}</td>
            <td class="column5">{{user.registerDate}}</td>
            <td class="column6">{{user.details}}</td>
            <td class="column7 actions">
              <span routerLink="/users/{{user.id}}"><i class="fa fa-edit"></i></span>
              <span (click)="deleteUser(user.id)"><i class="fa fa-trash"></i></span>
            </td>
          </tr>
          </tbody>
        </table>
        <span class="users_num">تعداد اعضای باشگاه: {{users_num}} نفر</span>
      </div>
    </div>
  </div>
  <div class="wrapper tbl_pagination">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="pagination">
            <ul class="pagination bootpag">
              <li class="prev" *ngIf="!(current_page - 1 == 0)">
                <span (click)="loadUsersPage(current_page - 1)">«</span>
              </li>
              <li class="" *ngFor="let dummy of ' '.repeat((users_num / each_page_records) + 1).split(''); let num = index" [class]="current_page == (num + 1) ? 'active' : ''">
                <span (click)="loadUsersPage(num + 1)">{{num + 1}}</span>
              </li>
              <li class="next" *ngIf="!(current_page == (Math.ceil(users_num / each_page_records)))">
                <span (click)="loadUsersPage(current_page + 1)">»</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">افزودن فرد جدید</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (submit)="onSubmitUser(form)">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="name">نام</span>
            </div>
            <input name="name" #name="ngModel" class="form-control" [(ngModel)]="userService.formData.name" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="phoneNo">شماره تماس</span>
            </div>
            <input name="phoneNo" #phoneNo="ngModel" type="tel" pattern="[0-9]*" class="form-control" [(ngModel)]="userService.formData.phoneNo" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="shelfNo">شماره کمد</span>
            </div>
            <input name="shelfNo" #shelfNo="ngModel" type="number" class="form-control" [(ngModel)]="userService.formData.shelfNo">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="details">جزئیات</span>
            </div>
            <textarea name="details" #details="ngModel" class="form-control" [(ngModel)]="userService.formData.details"></textarea>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success" onclick="$('#addUserModal').modal('hide');" *ngIf="form.valid">ذخیره</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
