.list-group-item {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.list-group-item .username {
  outline: 0;
  padding: 0.6rem 1.4rem 0.6rem 2rem;
}

.list-group-item .username:hover {
  cursor: pointer;
}

.badge-pill {
  left: -0.6em;
  position: relative;
  padding: 0.6rem
}

.badge-pill i{
  font-size: 14px;
}

.badge-pill:hover {
  cursor: pointer;
}

.form-control {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.input-group-prepend span {
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-group-prepend span {
  border-left: 1px solid #ced4da;
}
