<div class="jumbotron">
  <h2 class="display-4 text-center">شهریه های {{month_name}} ماه</h2>
  <hr>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <dp-date-picker dir="rtl" [(ngModel)]="selected_month" mode="month" placeholder="انتخاب ماه" theme="dp-material" [config]="monthPickerConfig" (ngModelChange)="loadPaymentList()"></dp-date-picker>
        <div class="table100">
          <table>
            <thead>
            <tr class="table100-head">
              <th class="column1">نام</th>
              <th class="column2">تاریخ</th>
              <th class="column3">هزینه</th>
              <th class="column4">روش پرداخت</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of payments" >
              <td class="column1">{{payment.user__name}}</td>
              <td class="column2">{{payment.date}}</td>
              <td class="column3">{{payment.price}} هزار تومان</td>
              <td class="column4">{{payment.method}}</td>
            </tr>
            </tbody>
          </table>
          <span class="payments_sum">مجموع شهریه های این ماه: {{payments_sum | number}} تومان</span>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>

