.jumbotron {
  background-color: transparent;
}
.date-picker-holder {
  text-align: center;
  margin-top: 20px;
}

table {
  background: white;
}
table thead tr {
  height: 40px;
  background: #af2caa;
}
table tbody tr {
  height: 50px;
}
.column1 {width: 35%;}
.column2 {width: 20%;}
.column3 {width: 25%;}
.column4 {width: 20%;}
.payments_sum {
  position: absolute;
  font-size: 13px;
  margin-top: 22px;
  color: #737373;
}
.add-payment-btn {
  margin-top: 15px;
  border: none;
  border-radius: 1.5rem;
  width: 150px;
  padding: 4px;
  font-weight: 600;
  cursor: pointer;
}
