<div class="jumbotron">
  <h2 class="display-4 text-center">لیست شهریه های پرداختی</h2>
  <hr>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="table100">
          <table>
            <thead>
            <tr class="table100-head">
              <th class="column1">نام</th>
              <th class="column2">تاریخ</th>
              <th class="column3">هزینه</th>
              <th class="column4">روش پرداخت</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of payments" >
              <td class="column1">{{payment.user__name}}</td>
              <td class="column2">{{payment.date}}</td>
              <td class="column3">{{payment.price}} هزار تومان</td>
              <td class="column4">{{payment.method}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>

